/* Try different box model properties below */
body > div > div > div + p {
  color: white;
  margin-bottom: 0px;
  margin-top: -2px;
}
body > div > div + div + div {
  font-size: 12px;
  text-align: center;
}
/*body > div > div + div : last-child {
  box-shadow: 4px 4px 0 #dba944; /* didn't work, also tried nth of type
  } */
.message--unread {
  box-shadow: 4px 4px 0 #dba944;
}
