.countries {
  display: flex;
}

.countries--second .country {
  padding: 0.5em;
}

/* Add your own CSS code below */
.country {
  flex: none;
  flex-shrink: auto;
}
.countries--first {
  padding: auto;
  justify-content: end;
  overflow: auto;
}
.countries--second {
  justify-content: space-around;
}
.countries--third {
  justify-content: end;
  flex-direction: column;
}
.countries--fourth {
  flex-direction: column-reverse;
  justify-content: space-around;
}
